*{padding: 0px; margin: 0px;}

body {width: 900px; margin: auto;}

header {background-color: #7b0c0c; font-family: verdana, arial, arial black;}
header h1 {color: #d4d0d0; padding: 20px; padding-bottom: 15px;}
header p {color: #d4d0d0; padding: 20px; padding-top: 0px;}

menu {background-color: #3d3d3b; height: 50px;}
menu ul {list-style: none; line-height: 50px}
menu ul li {float: left; width: 20%; text-align: center; }
menu ul li a{color: white; text-decoration: none; font-family: verdana; display: block;}
menu ul li a:hover {background-color: yellow; color: black;}

article {background-color: #d4d0d0; }
article h2 {font-family: verdana; padding: 20px; }
article img {float: left; width: 300px; margin: 2px 20px 2px 20px; }
article p {padding-bottom: 20px; font-size: 18px; text-align: justify; padding-left: 20px; padding-right: 20px;}

footer {background-color:  #680ad0;}
footer p {text-align: center; color: #d4d0d0; padding: 18px; font-size: 12px;}